<template>
  <div class="footer">
    <footer class="py-3 bg-dark">
      <div class="container">
        <p
          class="m-0 text-center text-white"
        >
          Copyright &copy; Your Website 2019
        </p>
      </div>
    </footer>
  </div>
</template>

<style scoped>
.footer{
    position: fixed;
    bottom:10px;
    left:0px;
    width: 100%;
}
</style>
