<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <h5>
        <font color="white"> POSTS BLOGGER </font>
      </h5>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"> </span>
      </button>
    </div>
    <div v-if="isUserLoggedIn">
      <div class="logout-wrapper">
        <div class="userName">
          <span>Welcome {{ userInfo.userName }}!</span>
        </div>
        <button matTooltip="Sign Out" mat-icon-button color="primary">
          <div class="power">
            <i @click="logout" class="material-icons"> power_settings_new </i>
          </div>
        </button>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  computed: {
    isUserLoggedIn () {
      return this.$store.state.isLoggedIn
    },
    userInfo () {
      return this.$store.state.userInfo
    }
  },
  mounted () {
    const fontIcon = document.createElement('link')
    fontIcon.setAttribute(
      'href',
      'https://fonts.googleapis.com/icon?family=Material+Icons'
    )
    document.head.appendChild(fontIcon)
  },
  methods: {
    async logout () {
      this.$store.commit('setLoggedIn', false)
      await this.$store.dispatch('getPostList')
      this.$router.push({ name: 'index' })
    }
  }
}
</script>

<style scoped>
.login {
  vertical-align: middle;
  position: relative;
  top: 4px;
  margin-right: -50px;
}
.userName {
  display: inline-block;
  margin-right: 10px;
  color: white;
}
.userName i {
  vertical-align: middle;
  margin-right: 7px;
  font-size: 34px;
  color: white;
}
.power i {
  vertical-align: middle;
  color: red;
}
.logout-wrapper {
  margin-left: auto;
}
.text-decoration:hover {
  text-decoration: none;
}
</style>
