<template>
  <div>
    <header-view />
    <div class="container">
      <div class="row" style="width: 100%; margin-top: 10px;">
        <div class="col-md-8" style="width: 1000px;">
          <div v-for="(post,index) of posts" :key="index" class="card mb-4">
            <div class="card-body">
              <h2
                class="card-title"
              >
                {{ post.title }}
              </h2>
              <p
                class="card-text"
              >
                {{ post.body }}
              </p>
              <nuxt-link :to="{ name: 'PostDetails-id', query: {id: post.id}}" class="text-decoration">
                <button
                  class="btn btn-primary"
                >
                  Read More &rarr;
                </button>
              </nuxt-link>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card my-4">
            <h5
              class="card-header"
            >
              Search
            </h5>
            <div class="card-body">
              <div class="input-group">
                <input
                  v-model="search"
                  v-on:keyup="applyFilter(search)"
                  type="input"
                  class="form-control"
                  placeholder="Search for..."
                >
              </div>
            </div>
          </div>
          <div>
            <button
              @click.prevent="addPost"
              class="btn btn-primary btn-lg btn-block"
            >
              Add Post
            </button>
          </div>
        </div>
      </div>
    </div>
    <footer-view />
  </div>
</template>

<script>
import HeaderView from '@/components/Header.vue'
import FooterView from '@/components/Footer.vue'

export default {
  components: {
    HeaderView,
    FooterView
  },
  data () {
    return {
      search: ''
    }
  },
  props: {
    path: {
      type: [String],
      default: ''
    }
  },
  computed: {
    PostList () {
      debugger
      return this.$store.state.PostList
    },
    posts () {
      return this.search !== '' ? this.$store.state.filteredPostList : this.$store.state.PostList
    }
  },
  serverPrefetch () {
    return this.getPostList()
  },
  mounted () {
    if (this.$store.state.PostList === []) {
      return this.getPostList()
    }
  },
  methods: {
    getPostList () {
      return this.$store.dispatch('getPostList')
    },
    applyFilter (filterValue) {
      let postArray = []
      if (filterValue != null && filterValue !== '') {
        filterValue = filterValue.trim()
        filterValue = filterValue.toLowerCase()
        postArray = this.PostList.filter(post => post.title.includes(filterValue))
        this.$store.commit('setPostFilteredList', postArray)
      }
    },
    addPost () {
      if (this.$store.state.isLoggedIn) {
        this.$router.push({ name: 'AddPost' })
      } else {
        this.$router.push({ name: 'Login', query: { route: 'AddPost' } })
      }
    }
  }
}
</script>

<style scoped>
.login{
  vertical-align: middle;
  position: relative;
  top: 4px;
}
.card-body p{
  white-space:nowrap;
  overflow:hidden;
}
.text-decoration:hover {
  text-decoration: none;
}
</style>
