<template>
  <div>
    <div v-for="(comment) of commentList" :key="comment.id">
      <div class="card my-4">
        <div class="card-body">
          <p class="lead">
            {{ comment.body }} - {{ comment.name }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: [Number, String],
      default: ''
    }
  },
  computed: {
    comments () {
      return this.$store.state.comments
    },
    commentList () {
      console.log('this.$store.state.comments---', this.$store.state.comments)
      debugger
      return this.$store.state.comments.filter(c => c.postId === this.id)
    }
  },
  mounted () {
    if (this.$store.state.comments !== [] && !this.isLoggedIn) {
      return this.getComments()
    }
  },
  methods: {
    async getComments () {
      await this.$store.dispatch('getComments')
    }
  }
}
</script>
