<template>
  <div class="container">
    <post-list />
  </div>
</template>

<script>

import PostList from '@/components/PostList'
export default {
  components: {
    PostList
  }
}
</script>

<style>
@import "assets/styles/vendor/bootstrap/css/bootstrap.min.css";
@import "assets/styles/vendor/bootstrap/css/bootstrap.css";
@import "assets/styles/css/blog-home.css";
@import "assets/styles/css/blog-post.css";
.container {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
