<template>
  <div>
    <header-view />
    <div class="container">
      <div class="row custom-row">
        <div class="col-lg-8">
          <h1 class="mt-4">
            {{ post[0].title }}
          </h1>
          <hr>
          <p class="lead">
            {{ post[0].body }}
          </p>
          <hr>
          <div>
            <div class="card my-4">
              <h5 class="card-header">
                Leave a Comment:
              </h5>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <textarea
                      @input="change"
                      v-model="commentWritten"
                      class="form-control"
                      rows="3"
                    />
                  </div>
                  <button
                    @click.prevent="save"
                    class="btn btn-primary"
                  >
                    Comment
                  </button>
                  <small v-if="invalidComment" class="text-error">Please Enter your comment</small>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <h2>Comments</h2>
          <hr>
          <comments
            :id="this.$route.query.id"
          />
        </div>
      </div>
      <footer-view />
    </div>
  </div>
</template>

<script>
import comments from '@/pages/Comments/_id.vue'
import HeaderView from '@/components/Header.vue'
import FooterView from '@/components/Footer.vue'

export default {
  components: {
    comments,
    HeaderView,
    FooterView
  },
  data () {
    return {
      postId: this.$route.query.id,
      post: this.$store.state.PostList,
      commentWritten: '',
      invalidComment: false
    }
  },
  mounted () {
    this.post = this.post.filter(p => p.id === this.$route.query.id)
  },
  methods: {
    async save () {
      if (this.validate()) {
        await this.$store.dispatch('commentCount')
        const payload = {
          id: this.$store.state.commentCount + 1,
          userId: this.$store.state.userInfo.userId,
          name: this.$store.state.userInfo.userName,
          body: this.commentWritten,
          postId: this.$route.query.id
        }
        debugger
        await this.$store.dispatch('addComment', payload)
        this.commentWritten = ''
      }
    },
    validate () {
      let validData = true
      if (!this.$store.state.isLoggedIn) {
        validData = false
        this.$router.push({ name: 'Login', query: { id: this.$route.query.id, route: 'PostDetails' } })
      } else if (this.commentWritten === '') {
        validData = false
        this.invalidComment = true
      }
      return validData
    },
    change () {
      this.invalidComment = false
    }
  }
}
</script>

<style scoped>
.text-error{color: #f00; text-align: right;}
.custom-row{margin-bottom: 60px;}
</style>
